/*global styles*/
body {
    background-color: #FF827A;
    color: #2A0002;
}

img {
    display: block;
    margin: auto;
    border: 2px ridge grey; 
    width: 75%;
}

a {
    color: #2A0002;
    text-decoration: none;
}

a:hover {
    letter-spacing: 1px;
}

/*mobile styles*/
header {
    background-color: #860009;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    color: #FF827A;
}

nav {
    background-color: #FA4347;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    padding: 15px;
    font-weight: bold;
    font-size: 1.5em;
}

nav li a:hover {
    background-color: #2A0002;
    color: #FA4347;
}

main {
    background-color: #D1A657;
    margin: 20px 0 0;
    padding: 20px;
}

main h2{
    font-size: 30px;
}

footer {
    text-align: center;
    background-color: #FF827A;
    padding: 20px;
}