body {
    background-color: lavender;
}

#container {
    background-color: #b6d7a8ff;
    padding: 20px 0 0 0;
    font-family: 'Arial';
}

h2 {
    font-size: 20px;
}

header {
    background-color:#89a773ff;
    padding: 5px;
    text-align: center;
    color: rgb(247, 247, 223);
}

header h1 {
    font-size: 32px;
    text-align: center;
}

nav {
    text-align: center;
    margin: 20px 50px;
    background-color: #ddc888ff;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 70px;
    font-size: 15px;
    letter-spacing: 3px;
    color: rgb(59, 61, 5);
}

nav a:hover {
    background-color: rgba(59, 61, 5, 0.74);
    color: #ddc888ff;
    letter-spacing: 5px;
    text-decoration: none;
}

.active {
    background-color: rgb(59, 61, 5);
    color: #ddc888ff;
    text-decoration: line-through;
}

main {
    margin: 40px 5%;
    color: rgb(59, 61, 5);
    font-size: 18px;
    line-height: 30px;
}

main h1 {
    font-size: 34px;
}

main h3 {
    font-size: 20px;
    text-align: center;
}

main ul {
    max-width: 50%; 
    margin: auto;  
    text-align: left;
    list-style-type: circle;
}

main img {
    display: inline-block;
    max-width: 48%;
    width: 48%;
    margin: 0 2px;
    border: 8px ridge rgb(59, 61, 5);
}

main a {
    color: rgb(59, 61, 5);
    text-decoration: underline solid;
}

footer {
    background-color: #89a773ff;
    color: rgb(247, 247, 223);
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}